server:
  port: 8701
spring:
  application:
    name: feign-service
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8001/eureka/
feign:
  hystrix:
    enabled: true #在feign中开启Hystrix 服务降级处理
logging:
  level:
    com.springcloud.feignservice.service.UserService: debug